.addressNew,
.addressExist {
  display: none;
}

.wizard-content .wizard.vertical > .steps {
  width: 15%;
}
/* Media Query for low resolution  Tablets, Ipads */
@media (max-width: 767px) {
  .wizard-content .wizard.vertical > .steps {
    width: 100%;
  }
  .wizard-content .wizard.vertical > .steps > ul > li {
    width: 33%;
  }
  .wizard-content .wizard > .content {
    overflow: unset;
  }
}
